@import "tailwindcss";
@source "../components";
@source "../app";

body {
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: var(--font-geist-sans);
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
}
